@charset="utf-8";
	#icon img{
		margin-left:3%;
		margin-top:-2.5%;
	}
	body{
		background-size:100%;
		margin-bottom:0px;
		margin-top:0px;
		margin-left:0px;
		margin-right:0px;
		}
	#bg{margin-top:6%;
	width:100%}
	a{
		color:black;
		font-family:arial;
		text-decoration:none;
	}
	a:hover{font-size:32px;}
	
	p{
		font-size:25pt;
	}
	#saitek{margin-left:76%;
			margin-top:10%;
			font-size:28pt;
}
	#tritton{margin-left:70%;
	margin-top:8%;}
	#madcatz{margin-top:8%;
	margin-left:64%;}
